/* gloval styles*/

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth !important;
    height: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    width: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body{
    height: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    width: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    background-color: rgba(240,230,224, .94);
}

/* Typography Styles*/ 

@font-face {
    font-family: "Ballet";
    src: url("./fonts/Ballet-Regular-VariableFont_opsz.ttf");
}
.font-cuong-dieu{
    font-family: "Ballet", Times, serif;
    font-weight: 500;
}
@font-face {
    font-family: "Playfair";
    src: url("./fonts/PlayfairDisplay-VariableFont_wght.ttf");
}
    
.font-don-gian{
    font-family: "Playfair", Arial, sans-serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    word-spacing: 5px;
    letter-spacing: 2px;
    line-height: 1.5;
    white-space: no-wrap;
    text-overflow: ellipsis;
    margin-top: 10px;
    margin-bottom: 10px;
}

h1{
    font-size: calc(200px / 1.5);
    font-weight: 700;
}

h2{
    font-size: calc(150px / 1.5);
    font-weight: bold;
    padding-top: calc(30px / 1.5);
}

h3{
    font-size: calc(60px / 1.5);
}

h4{
    font-size: calc(30px / 1.5);
}

h5{
    font-size: calc(20px / 1.5);
}

h6{
    font-size: calc(40px / 1.5);
    font-weight: 400;
}

@media(min-width: 300px){
    h1{
        font-size: calc(200px / 2.75);
    }
    h2{
        font-size: calc(150px / 2.25);
        padding-top: calc(30px / 2);
    }
    h3{
        font-size: calc(60px / 2);
    }
    h4{
        font-size: calc(30px / 2);
    }
    h5{
        font-size: calc(20px / 2);
    }
    h6{
        font-size: calc(40px / 2);
    }
}

@media(min-width: 720px){
    h1{
        font-size: calc(250px / 1.25);
    }
    h2{
        font-size: calc(150px / 1.25);
        padding-top: calc(30px / 1.5);
    }
    h3{
        font-size: calc(60px / 1.25);
    }
    h4{
        font-size: calc(30px / 1.5);
    }
    
    h5{
        font-size: calc(20px / 1.5);
    }
    h6{
        font-size: calc(40px / 1.25);
    }
}

@media(min-width: 1024px){
    h1{
        font-size: calc(250px);
    }
    h2{
        font-size: calc(150px);
        padding-top: calc(30px / 1.25);
    }
    h3{
        font-size: calc(60px);
    }
    h4{
        font-size: calc(30px / 1.25);
    }
    h5{
        font-size: calc(20px / 1.25);
    }
    h6{
        font-size: calc(40px/1.25);
    }
}

/* Structural Styles*/

.containers{
    margin: 0 auto;
    max-width: 1160px;
    padding: 20px 20px;
    text-align: center;
    position:relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); /* Shadow effect */
    transition: background-color 0.3s ease-in-out;
    border:#754b2f dashed 2px;
    border-radius: 5px;
}

.divider {
    border: none;
    border-bottom: 1px solid #F2F3F5;
    clear: both;
    width: 100%;
    margin: 60px;
}

body::-webkit-scrollbar {
    display: none !important;
}


/* Navigation bar */
nav{
    width: 100%;
    background-color: rgba(243, 219, 178, 0.8);
    position: fixed;
    bottom: 0px;
    border-radius: 10px;
    padding: 0px auto;  
    z-index: 1;
}

.nav-bar{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-around;
    justify-items: space-around;
}

.nav-link{
    color: black;
    display: grid;
    text-decoration: none;
    align-items: center;
    text-align: center;
    font-weight: 500;
    line-height: 1.5;
}

@media (min-width: 300px) {
    .nav-link{
        font-size: calc(30px / 2);
    }
}

@media (min-width: 720px) {
    .nav-link{
        font-size: calc(30px / 1.5);
    }
}

@media (min-width: 1024px) {
    .nav-link{
        font-size: calc(30px / 1.25);
    }
}


/* Home Section*/
.title{
    margin: 20px auto;
}

#home{
    top: 50px;
    background-color: whitesmoke;
}
#home h1{
    margin: 10px auto;
}

#home img{
    margin: 20px auto;
    border-radius: 10%;
    max-width: 100%;
    height: auto;
    display: block;
}

#bridge-groom{
    top: 50px;
    position: relative;
    text-align: center;
    align-items: center;
    background-color: whitesmoke;
}

.br-gr-table{
    margin: 0 auto;
}

/* Bridge and Groom Section*/ 

#bridge-groom #bridge-img{
    border-radius: 20px;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
}

#bridge-groom .spacing{
    margin: 50px 50px;
}

#bridge-groom #groom-img{
    border-radius: 20px;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
}

#bridge-groom .grid-container{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    justify-content: space-around;
    justify-items: center;
    column-gap: 20px;

}
/* Countdown Section */

#time{
    position: relative;
    background-color: whitesmoke;
}

#time .title{
    padding: 20px auto;
}

#time-countdown{
    font-size: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#time-countdown .col{
    display: grid;
    gap: -2px;
}

#time-countdown .col h3{
    margin: 0 auto;
}

.calendar-container{
    display: grid;
    justify-content: center;
    margin-bottom: 40px;
}

.month-title{
    font-size: calc(60px/1.5);
    padding: 0.7rem;
}

th{
    border-bottom: rgb(207,207,208) solid 1px;
    border-top: rgb(207,207,208) solid 1px;
    font-size: calc(30px/1.5);
    padding: 0.6rem;

}

td{
    font-size: calc(20px/1.5);
    padding: 0.5rem;
}


@media (min-width: 300px) {
    .month-title{
        font-size: calc(60px/1.5);
    }
    
    th{
        font-size: calc(30px/2.5);
    }
    td{
        font-size: calc(20px/2.5);
    }
}

@media (min-width: 720px) {
    .month-title{
        font-size: calc(60px/1.5);
    }
    
    th{
        font-size: calc(30px/1.5);
    }
    td{
        font-size: calc(20px/1.5);
    }
}

@media (min-width: 1024px) {
    .month-title{
        font-size: calc(60px/1.25);
    }
    
    th{
        font-size: calc(30px/1.25);
    }
    td{
        font-size: calc(20px/1.25);
    }
}
#today{
    background-color: #B8A293;
    color: aliceblue;
    border-radius: 50%;
    padding: 0.2rem auto;
}

.map-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* Aspect ratio for a 16:9 video (change as needed) */
    overflow: hidden;
    margin: auto;
  }

  /* Styling for the map iframe */
  .iframe-ggl {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

/* photo gallery*/

.photo-gallery {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: space-between; /* Distribute space between items */
  }

.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    margin-top: 20px;
  }

.photo-col{
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(150px,1fr));
    gap: 5px;
    align-items: center;
}

.see-more-btn{
    margin: 10px auto; 
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: rgba(132,87,49,0.9);
    border: none;
    border-radius: 10px;
    background-color: hsla(25, 35%, 72%, 0.7);  
  }

.photo {
    display: grid;
    background-color: #B8A293;
    align-self: center;
}

.photo img{
    margin: 0 auto;
    padding: 8px;
    max-width: 100%;
    height: auto;
}

  /* Styles for the modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow-y: scroll;
    z-index: 5;
}
.close-modal-btn{
    position: fixed;
    z-index: 1;
    right: 0px;
    padding: 5px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.7);
    box-shadow: none;
    border: none;
}
  
.modal-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    margin: 20px;
 }


  
/* Additional styling for the full-size photo in the modal */
.full-size-photo-modal {
    display: none;
  }
  
  /* Additional styling for the full-size photo modal container */
  .full-size-photo-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    z-index: 2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Additional styling for the close button in the full-size photo modal */
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }


#photo-gallery{
    position: relative;
    background-color: whitesmoke;
}

#photo-gallery .title{
    padding: 10px auto;
}

/*Wishes to TC*/
#wishes{
    background-color: whitesmoke;
}
#wishes .wish-form{
    overflow-wrap: break-word !important;
    border-radius: 30px !important;
    padding: 1rem !important;
    border: rgba(132,87,49,0.9) 1px solid;
    color: rgba(132,87,49,0.9);
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1000px;
    max-height: 2000px;
}

#wishes .wish-form .title{
    font-size: 25px;
}

#wishes .wish-form .form-label{
    box-sizing: border-box;
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 20px;
}

.form-items{
    display: block;
    border: 1px solid #F2F3F5;
    border-radius: 3px;
    box-shadow: inset 1px 1px 3px 0 rgba(189,191,192,0.10);
    margin: 20px auto;
    padding: 10px;
    width: 90%;
    font-size: 1rem;
    line-height: 1.5;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input:active,
input:focus,
textarea:active,
textarea:focus {
  border: 1px solid #42A5F5;
  outline: none;
}

input::placeholder,
textarea::placeholder{
    font-family: 'Playfair', times, serif;
}

#wishes .wish-form button{
    margin: 20px auto;
    display: inline-block;
    width: 90%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: rgba(132,87,49,0.8);
    border: none;
    border-radius: 10px;
    background-color: rgba(238, 211, 189,0.7);
    border-radius: 15px;
    box-shadow: 0 3px rgba(132,87,49,0.8);
}

#wishes #send-btn:hover{
    background-color:  rgba(241, 187, 142, 0.7);
    color: white;
    transition: ease-in-out;
}

#wishes #send-btn:active{
    background-color: rgba(132,87,49,0.8);
    color: white;
    box-shadow: none;
    transform: translateY(4px);
    transition: ease-in-out;
}


/*Wishes answers*/

.wishes-ans-box{
    margin-top: 30px;
    display: grid;
    max-height: 300px;
    overflow-y: auto;
    grid-template-rows: repeat(auto-fill, 1 fr);
    grid-auto-rows: 1fr;
    
}

.wishes-ans-box .wish-ans{
    border: rgba(237,189,187,1) 1px solid;
    border-radius: 15px;
    background-color: white;
}

.grid-box{
    width: 90%;
    display: grid;
    margin: 10px auto; 
    align-items: center;
    grid-row: 1fr 3fr;
}

.wish-ans{
    display: grid;
    grid-template-rows: 1fr minmax(1fr, 3fr);
    gap: 5px; 
    padding: 10px;
}

.wishes-ans-box .wish-ans .guest-name{
    text-align: left;
    padding-bottom: 5px;
}

.wishes-ans-box .wish-ans .guest-message{
    text-align: left;
    padding-left:  px;
    padding-top: 5px;
}

@media (min-width: 300px) {
    .wishes-ans-box .wish-ans .guest-name{
        font-size: calc(30px / 2);
    }
    
    .wishes-ans-box .wish-ans .guest-message{
        font-size: calc(20px / 2);
    }
}

@media (min-width: 720px) {
    .wishes-ans-box .wish-ans .guest-name{
        font-size: calc(30px / 1.5);
    }
    
    .wishes-ans-box .wish-ans .guest-message{
        font-size: calc(20px / 1.5);
    }
}

@media (min-width: 1024px) {
    .wishes-ans-box .wish-ans .guest-name{
        font-size: calc(30px / 1.25);
    }
    
    .wishes-ans-box .wish-ans .guest-message{
        font-size: calc(20px / 1.25);
    }
}

/*Footer*/

footer{
    text-align: center;
    bottom: 50px; 
    padding-top: 20px;  
    padding-bottom: 100px;
}

footer .containers{
    background-color: whitesmoke;
}

footer .ty-pic{
    border-radius: 50%;
    border: rgba(132,87,49,0.9) 3px solid;
    max-width: 90%;
    margin: 0 auto;
    height: auto;
    
}

footer .thankyou{
    margin-top: 20px;
    font-size: 25px;
}

.happy-box{
    margin: 20px auto;
    max-width: 500px;
    max-height: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Shadow effect */
    transition: background-color 0.3s ease-in-out;
    border:hsla(25, 35%, 72%, 0.7) dashed 3px;
    background-color: rgba(237,222,187,.6)  ;
}

.grid-container{
    display: grid;
    grid-template-rows: repeat(2, minmax(150px, 1fr));
    gap: 5px;
    align-items: center;
}

.qr-code{
    margin: 15px auto;
    max-width: 40%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
    transition: background-color 0.3s ease-in-out;
    border:hsla(25, 35%, 72%, 0.7) dashed 1px;
    text-align: center;
    background-color: white;
}

.qr-code img{
    margin: 0 auto;
    padding: 8px;
    max-width: 100%;
    height: auto;
}
  
/* animation */
.animate {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animate.animate--infinite {
  animation-iteration-count: infinite;
}

.animate.animate--delay-1s {
    animation-delay: 1s;
  }

.animate.animate--delay-2s {
  animation-delay: 2s;
}

.animate.animate--delay-3s {
    animation-delay: 3s;
  }

.animate.animate--delay-4s {
animation-delay: 4s;
}

.animate.animate--delay-6s {
    animation-delay: 6s;
    }

.animate.animate--delay-10s {
    animation-delay: 10s;
}

.animate.animate--delay-11s {
    animation-delay: 11s;
}
.animate.animate--delay-12s {
    animation-delay: 12s;
}
.animate.animate--delay-13s {
    animation-delay: 13s;
}
.animate.animate--delay-14s {
    animation-delay: 14s;
}
.animate.animate--delay-15s {
    animation-delay: 15s;
}

.animate.animate--fast {
  animation-duration: 0.6s;
}

.animate.animate--slow {
  animation-duration: 3s;
}

/* Animations */
@keyframes slideInLeft {
  0%{
    transform: translateX(-300px);
  }

  100%{
    transform: translateX(0);
  }
}

.slideInLeft {
  animation-name: slideInLeft;
  animation-timing-function: ease-in;
}

@keyframes slideInRight {
  0% {
    transform: translateX(300px);
  }

  100% {
    transform: translateX(0);
  }
}

.slideInRight {
    animation-name: slideInRight;
    animation-timing-function: ease-in;
}

@keyframes fadeIn{
    0%{ opacity: 0;}
    100%{opacity: 1;}
}

.fadeIn{
    animation-name: fadeIn;
    animation-timing-function: ease-in;
}