/* gloval styles*/

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth !important;
    height: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    width: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body{
    height: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    width: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    background-color: hsla(25, 20%, 92%);
}

/* Typography Styles*/ 

@font-face {
    font-family: "Ballet";
    src: url("./fonts/Ballet-Regular-VariableFont_opsz.ttf");
}
.font-cuong-dieu{
    font-family: "Ballet", Times, serif;
    font-weight: 500;
}
@font-face {
    font-family: "Playfair";
    src: url("./fonts/PlayfairDisplay-VariableFont_wght.ttf");
}
    
.font-don-gian{
    font-family: "Playfair", Arial, sans-serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    word-spacing: 5px;
    letter-spacing: 2px;
    line-height: 1.5;
    white-space: no-wrap;
    text-overflow: ellipsis;
}

h1{
    font-size: calc(200px / 1.5);
    font-weight: 700;
}

h2{
    font-size: calc(150px / 1.5);
    font-weight: bold;
    padding-top: calc(30px / 1.5);
}

h3{
    font-size: calc(60px / 1.5);
}

h6{
    font-size: calc(30px / 1.5);
    font-weight: 400;
}

@media(min-width: 300px){
    h1{
        font-size: calc(200px / 2.75);
    }
    h2{
        font-size: calc(150px / 2.25);
        padding-top: calc(30px / 2);
    }
    h3{
        font-size: calc(60px / 2);
    }
    h6{
        font-size: calc(40px / 2);
    }
}

@media(min-width: 720px){
    h1{
        font-size: calc(250px / 1.25);
    }
    h2{
        font-size: calc(150px / 1.25);
        padding-top: calc(30px / 1.5);
    }
    h3{
        font-size: calc(60px / 1.25);
    }
    h6{
        font-size: calc(40px / 1.25);
    }
}

@media(min-width: 1024px){
    h1{
        font-size: calc(250px);
    }
    h2{
        font-size: calc(150px);
        padding-top: calc(30px / 1.25);
    }
    h3{
        font-size: calc(60px);
    }
    h6{
        font-size: calc(40px);
    }
}

/* Structural Styles*/

.containers{
    margin:     0 auto;
    max-width: 1160px;
    padding: 0 20px;
    text-align: center;
    position:relative;
}

.divider {
    border: none;
    border-bottom: 1px solid #F2F3F5;
    clear: both;
    width: 100%;
    margin: 60px;
}

body::-webkit-scrollbar {
    display: none !important;
}


/* Navigation bar */
nav{
    width: 100%;
    background-color: rgba(238, 211, 189, 0.9);
    position: fixed;
    bottom: 0px;
    border-radius: 10px;
    padding: 0px auto;
    z-index: 1;
}

.nav-bar{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-around;
    justify-items: space-around;
}

.nav-link{
    color: black;
    display: grid;
    text-decoration: none;
    align-items: center;
    text-align: center;
    font-weight: 500;
    line-height: 1.5;
}

@media (min-width: 300px) {
    .nav-link{
        font-size: calc(30px / 2);
    }
}

@media (min-width: 720px) {
    .nav-link{
        font-size: calc(30px / 1.5);
    }
}

@media (min-width: 1024px) {
    .nav-link{
        font-size: calc(30px / 1.25);
    }
}


/* Home Section*/
.title{
    margin: 20px auto;
}

#home{
    top: 50px;
}
#home h1{
    margin: 10px auto;
}

#home img{
    margin: 20px auto;
    border-radius: 10%;
    max-width: 100%;
    height: auto;
    display: block;
}

#bridge-groom{
    top: 50px;
    position: relative;
    text-align: center;
    align-items: center;
}

.br-gr-table{
    margin: 0 auto;
}

/* Bridge and Groom Section*/ 

#bridge-groom #bridge-img{
    border-radius: 10%;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
}

#bridge-groom .spacing{
    margin: 50px 50px;
}

#bridge-groom #groom-img{
    border-radius: 10%;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
}

/* Countdown Section */

#time{
    position: relative;
}

#time .title{
    padding: 20px auto;
}

#time-countdown{
    font-size: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#time-countdown .col{
    display: grid;
    gap: 10px;
}

#time-countdown .col h3{
    margin: 0 auto;
}

.photo-gallery {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: space-between; /* Distribute space between items */
  }

  /* Style for each gallery item (image) */
  .gallery-item {
    flex: 0 0 calc(33.33% - 10px); /* Set item width with some spacing */
    margin-bottom: 10px; /* Add bottom margin for spacing */
  }

  img {
    max-width: 100%; /* Make images responsive within their container */
    height: auto;
    display: block;
  }

#photo-gallery{
    position: relative;
}

#photo-gallery .title{
    padding: 10px auto;
}

/*Wishes to TC*/

#wishes .wish-form{
    overflow-wrap: break-word !important;
    border-radius: 15% !important;
    padding: 1rem !important;
    border: rgba(132,87,49,0.9) 1px solid;
    color: rgba(132,87,49,0.9);
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1000px;
    max-height: 2000px;
}

#wishes .wish-form .title{
    font-size: 25px;
}

#wishes .wish-form .form-label{
    box-sizing: border-box;
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 20px;
}

.form-items{
    display: block;
    border: 1px solid #F2F3F5;
    border-radius: 3px;
    box-shadow: inset 1px 1px 3px 0 rgba(189,191,192,0.10);
    margin: 10px auto;
    padding: 10px;
    width: 90%;
    font-size: 1rem;
    line-height: 1.5;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input:active,
input:focus,
textarea:active,
textarea:focus {
  border: 1px solid #42A5F5;
  outline: none;
}

input::placeholder,
textarea::placeholder{
    font-family: 'Playfair', times, serif;
}

#wishes .wish-form button{
    margin: 20px auto;
    display: inline-block;
    width: 90%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: rgba(132,87,49,0.9);
    border: none;
    background-color: rgba(238, 211, 189,0.7);

}

/*Wishes answers*/

.wishes-ans-box{
    margin-top: 30px;
    background-color: white;
    display: grid;
    height: 300px;
    grid-template-rows: repeat(5, 1 fr);
    grid-auto-rows: 1fr;
}

.wish-ans{
    border: rgba(132,87,49,0.9) 1px solid;
    margin: 10px 10px;  
    border-radius: 15px;
}

.grid-box{
    display: grid;
    grid-template-rows: 1fr 3fr;
    gap: 5px;
}

/*Footer*/

footer{
    text-align: center;
    bottom: 50px; 
    padding-top: 20px;  
    padding-bottom: 100px;
}

footer .ty-pic{
    border-radius: 50%;
    border: rgba(132,87,49,0.9) 3px solid;
    max-width: 90%;
    margin: 0 auto;
    height: auto;
    
}

footer .thankyou{
    margin-top: 20px;
    font-size: 25px;
}

